/*
1. posicionamiento
2. modelo de caja (box model )
3. tipografia
4. temas visuales
5.  otros
*/

:root{
    --bicoin-Orange: #F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family:'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    object-fit: cover;

}

.header-title-contenedor{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header-title-contenedor h1{
    color: var(--just-white);
    font-weight:bold;
    font-size: 2.4rem;
    line-height: 2.6rem;

}

.header-title-contenedor p{
    font-weight:500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
    margin-top: 20px;
}


.header-title-contenedor .header-buttom{
   position: absolute;
   top: 310px;
   left: calc(50% - 118px);
    display: block;
    background-color: var(--off-white);
    width: 229px;
    height: 48px;
    min-width: 229px;
    padding: 16px;
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    border:none ;
    border-radius:5px ;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-decoration: none;
    color: var(--warm-black);
}

.header-title-contenedor .header-buttom span {
    display:inline-block;
    width: 12px;
    height: 8px;
    margin-left:10px;
    background-image: url('https://i.postimg.cc/Pf8DpM9q/vector-Bottom.png');
    background-repeat: no-repeat;
    background-size: cover;

}
main{
    width: 100%;
    height: auto;

}

main .intercambio-monedas{
    width: 100%;
    height: auto;
    min-width: 320px;
    background-color: #E5E5E5;
    padding-top: 70px;
    text-align: center;
    padding-bottom: 40px;
}

main .intercambio-monedas .intercambio-img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-image: url('https://i.postimg.cc/T18pqZF3/bitcoin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


main .intercambio-monedas .contenedor-title{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

main .intercambio-monedas .contenedor-title h2{
    margin-top: 40px;
    margin-bottom:24px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);

}
main .intercambio-monedas .contenedor-title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;

}

.monedas-intercambio {
    display: flex;
    overflow-x:scroll ;
    overscroll-behavior-x: contain;
    scroll-snap-type:  x proximity;

}

.main-container-monedas{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    scroll-snap-align: center;
}

.main-container-monedas .title-container{
    margin: 0 auto 15px auto;
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: var(--bicoin-Orange);
}

.container-table{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height:250px ;
    margin: 0 auto;
}

.container-table table{
    width: 100%;
    height: 100%;
}

.container-table td{
    width: 50%;
    background-color: var(--just-white);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color:#757575 ;
}

.table__top-left{
    border-radius: 10px 0 0 0;

}

.table--top-right{
    border-radius:0 10px 0 0 ;
}


 .table__bottom-left{
    border-radius: 0 0 0 10px;
}

.table__bottom-rigth {
    border-radius: 0 0 10px 0;

}

.monedas-intercambio .table_right{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.main-container-comisiones .table_right{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
}



 .down {
     display: inline-block;
    width: 12px;
    height: 13px;
    margin-left: 10px;
    background-image: url('https://i.postimg.cc/YS9GpNQM/trending-Down.png');
    background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}
.high{
    display: inline-block;
    width: 12px;
    height: 13px;
    margin-left: 10px;
    background-image: url('https://i.postimg.cc/TYMDrDvJ/trendingup.png');
    background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.date-atualizacion{
    width: 173px;
    height: 31px;
    margin: 0 auto;
   margin-top: 20px;
    padding: 10px;
    background-color: var(--soft-orange);
    border-radius: 10px;

}


.main-container-comisiones{
    width: 70%;
    margin: 0 auto;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    font-family: 'Inter',sans-serif;
    scroll-snap-align: center;
    
}


.comisiones-table{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.comisiones-title{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    text-align: left;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--secondary-blue);
    margin:0 auto 15px auto;
    height: 24px;
}

.comisiones-table table{
    width: 100%;
    height: 100%;
}


.comisiones-table table td{
    width: 50%;
    background-color: var(--just-white);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color:#757575;
}


.comisiones-date-actualizacion{
    margin: 0 auto;
    margin-top:20px ;
    width: 173px;
    height: 31px;
    padding: 10px;
    background-color: var(--soft-blue) ;
    border-radius: 10px;

}

main .main-container-beneficios{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.logo-batatabit{
    width: 40px;
    height: 25px;
    background-image: url('https://i.postimg.cc/J4ZjgQ5F/logoMain.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position:absolute;
    top: -10px;
    left: calc(50% - 20px);

}


.main-container-beneficios div{
    width: 90%;
    min-width: 320px;
    height: auto;
    text-align: center;
    margin:50px auto 32px auto;
}

.main-container-beneficios div h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    margin-bottom: 24px;
}

.main-container-beneficios div p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-card-detalle{
    margin: 16px auto;
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    padding: 15px;
    background-color: var(--black);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.product-card-title{
    margin-top: 6px;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color:var(--just-white);
    margin-bottom: 10px;
    margin-top: 10px;
}

.product-card-subtitle{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:#808080;
}

.img-detalle{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.clock{
    background-image: url('https://i.postimg.cc/t49ncGT1/clock.png');

}

.eye{
    background-image: url('https://i.postimg.cc/jSvn03wM/eye.png');

}

.money{
    background-image: url('https://i.postimg.cc/CLGfJxFT/dollar.png');
}

.checkout{
    background-image: url('https://i.postimg.cc/C19frZBY/check-Circle.png');
}


.bitcoin-img-container{
    width: 100%;
    height: 50vh;
    min-width: 320px;
    background-image: url('https://i.postimg.cc/CKmjS7qM/bitcoinbaby-1.png');
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}

.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}


.section-planes{
    width: 100%;
    min-width: 320px;
    padding-bottom: 30px;
    text-align: center;
    background-color:  #E5E5E5;
    
}

 .planes-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
   margin-bottom: 40px;
}

.planes-title h2{
    padding-top: 50px;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    padding-bottom: 24px;
}

.planes-title p{
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 1.8rem;
   color: #757575; 
   
}

.planes-container-cards{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height:250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 7px 8px rgba(0,0,0,0.2);
    margin-left: 10px;
   
}

.planes-informacion{
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

/*diseño general de las targetas planes */

.planes{
    width: 100px;
    height: 30px;
    border-radius: 6px;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--just-white);
    position: absolute;
    top: -10px;
    left: calc(50% - 50px);
}

.planes-informacion h3{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #000000;

}


.plan-costo{
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    font-family: 'Inter',sans-serif;
}

.plan-costo span{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    position: relative;
    top: 10px;
}

.plan-anuncio{
    font-family:'Inter',sans-serif ;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #757575 ;
    margin-bottom: 16px;
}



.plan-accion{
    min-width: 150px;
    height: 48px;
    padding: 10px;
    text-align: left;
    border: 2px solid var(--bicoin-Orange);
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    background-color: var(--off-white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.plan-accion span{
margin-left: 5px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('https://i.postimg.cc/NMKHx80p/arrow-Right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: bottom;
}
/*primer plan*/

.recomendado{
    background-color: var(--bicoin-Orange);
}

/* segundo plan */

.basico{

    background-color: rgba(0,00,255,0.9);
    
}

/*tercer plan*/


/* sobre escritura de los estios al tercer plan */

#ilimitado{
    background-color: var(--warm-black);
}

#ilimitado .ilimitado{
    background-color: gray;
}
#ilimitado .planes-informacion h3{
    color: var(--just-white);
}
#ilimitado .planes-informacion .plan-costo{
    color: var(--just-white);
}


/* scrooll  de las cards*/
.planes-container-scroll{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;   
}

footer{
    width: 100%;
    min-width: 320px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bicoin-Orange);
}

footer section{
    height: 50%;
    display: flex;
    align-items: center;
}
footer .left ul {
    list-style: none;
}
footer section ul li{
    margin-bottom: 10px;
}

footer section ul a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--just-white);
}