/*
1. posicionamiento
2. modelo de caja (box model )
3. tipografia
4. temas visuales
5.  otros
*/

:root{
    --bicoin-Orange: #F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family:'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    object-fit: cover;

}

.header-title-contenedor{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header-title-contenedor h1{
    color: var(--just-white);
    font-weight:bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    
}

.header-title-contenedor p{
    font-weight:500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
    margin-top: 20px;
}


.header-title-contenedor .header-buttom{ 
   position: absolute;
   top: 310px;
   left: calc(50% - 118px);
    display: block;
    background-color: var(--off-white);
    width: 229px;
    height: 48px;
    min-width: 229px;
    padding: 16px;
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    border:none ;
    border-radius:5px ;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-decoration: none;
    color: var(--warm-black);
}

.header-title-contenedor .header-buttom span {
    display:inline-block;
    width: 12px;
    height: 8px;
    margin-left:10px;
    background-image: url('https://i.postimg.cc/Pf8DpM9q/vector-Bottom.png');
    background-repeat: no-repeat;
    background-size: contain;
    
}